<div class="container px-5">
  <div class="row m-5 pt-0">
      <div class="col-lg-4 col-md-3">
          <img class="imgUnicauca mx-auto d-block" src="../../assets/img/bgUnicauca.png" alt="bgUnicauca" />
      </div>
      <div class="col-lg-8 col-md-9 text-center position-relative">
          <p class="fs-3 fw-bold position-absolute top-50 start-50 translate-middle title">
              Sistemas de Encuestas
          </p>
      </div>
  </div>

  <div class="row m-5 text-center mt-4">
      <p class="fs-5">Encuesta Graduandos - Egresados</p>
      <p class="fs-6">
          Apreciado Graduando(a) Para la Universidad del Cauca es importante seguirle brindando información sobre servicios y beneficios que tiene usted como egresado, motivo por el cual le solicitamos diligenciar la siguiente encuesta a los estudiantes de PREGRADO
          Y POSGRADO que se graduarán en ceremonia colectiva o privada para los grados programados para el año 2022 PRÓXIMA FECHA DE GRADO: 16 DE DICIEMBRE DE 2022 El Área de Egresados lo felicita por culminar con éxito su etapa como estudiante, para
          dar inicio a su nueva vida profesional.
      </p>
  </div>

  <form [formGroup]="graduatesForm" (ngSubmit)="saveDataGraduatesForm()" novalidate>
      <!--Inicio Información personal-->
      <div class="row m-4 py-4 border">
          <p class="fs-5">Información personal</p>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="date" class="form-control" formControlName="degreeDate" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required title="Fecha de grado" />
                  </div>
                  <div *ngIf="graduatesForm.get('degreeDate')?.errors?.['required'] && graduatesForm.get('degreeDate')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="idType" aria-label="Default select example">
                      <option value="" selected hidden>Tipo de identificación</option>
                      <option *ngFor="let obj of typeId" [value]="obj.value" selected>
                          {{ obj.name }}
                      </option>
                  </select>
                  <div *ngIf="graduatesForm.get('idType')?.errors?.['required'] && graduatesForm.get('idType')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="idNumber" id="idNumber" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="N° Identificación" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" max="15"/>
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-person-vcard"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('idNumber')?.errors?.['required'] && graduatesForm.get('idNumber')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('idNumber')?.errors?.pattern" class="alert alert-danger">
                      Solo debe ingresar valores númericos.
                  </div>
              </div>
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="idNumberConfirm" id="idNumberConfirm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Confirmar N° Identificación" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" max="15"/>
                      <span class="input-group-text" id="inputGroup-sizing-default">
            <i class="bi bi-person-vcard"></i>
          </span>
                  </div>
                  <div *ngIf="graduatesForm.get('idNumberConfirm')?.errors?.['required'] && graduatesForm.get('idNumberConfirm')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('idNumberConfirm')?.errors?.['pattern'] && graduatesForm.get('idNumberConfirm')?.errors?.['Incorrect']" class="alert alert-danger">
                      Solo debe ingresar valores númericos.
                  </div>
                  <div *ngIf="graduatesForm.get('idNumberConfirm')?.errors?.['Incorrect'] && !graduatesForm.get('idNumberConfirm')?.errors?.['pattern']" class="alert alert-danger">
                      Los números de identificación no coinciden.
                  </div>
                  <!-- {{ graduatesForm.get("idNumberConfirm")?.errors | json }} -->
              </div>
          </div>
          <div class="col-4">
                <div class="mb-1">
                    <select class="form-select mb-3" formControlName="expeditionDepartament" aria-label="Default select example" (change)="loadCitiesCol($event)">
                        <option value="" selected hidden>Departamento de expedición</option>
                        <option *ngFor="let obj of arrayDepartamentCol" [value]="obj.isoCode" selected>
                            {{ obj.name }}
                          </option>
                    </select>
                </div>
                <div *ngIf="graduatesForm.get('expeditionPlace')?.errors?.['required'] && graduatesForm.get('expeditionPlace')?.touched" class="alert alert-danger">
                * Campo requerido
                </div>
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="expeditionPlace" aria-label="Default select example">
                      <option value="" selected hidden>Municipio de expedición</option>
                      <option *ngFor="let obj of arrayCitiesCol" [value]="obj" selected>
                        {{ obj }}
                      </option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('expeditionPlace')?.errors?.['required'] && graduatesForm.get('expeditionPlace')?.touched" class="alert alert-danger" >
                * Campo requerido
              </div>
            <div class="mb-1">
                <select class="form-select mb-3" formControlName="birthDepartament" aria-label="Default select example" (change)="loadCitiesCol2($event)">
                    <option value="" selected hidden>Departamento de nacimiento</option>
                    <option *ngFor="let obj of arrayDepartamentCol" [value]="obj.isoCode" selected>
                        {{ obj.name }}
                      </option>
                </select>
            </div>
            <div *ngIf="graduatesForm.get('birthDepartament')?.errors?.['required'] && graduatesForm.get('birthDepartament')?.touched" class="alert alert-danger">
              * Campo requerido
            </div>
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="placeBirth" aria-label="Default select example">
                      <option value="" selected hidden>Municipio de nacimiento</option>
                      <option *ngFor="let obj of arrayCitiesCol2" [value]="obj" selected>
                        {{ obj }}
                      </option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('placeBirth')?.errors?.['required'] && graduatesForm.get('placeBirth')?.touched" class="alert alert-danger">
                * Campo requerido
              </div>
          </div>
          <div class="col-4">
            <div class="mb-1">
                <select class="form-select mb-3" formControlName="countryResidence" aria-label="Default select example" (change)="loadDepartament($event)">
                    <option value="" selected hidden>Pais de residencia</option>
                    <option *ngFor="let obj of arrayCountries" [value]="obj.isoCode" selected>
                      {{ obj.name }}
                  </option>
                </select>
            </div>
            <div *ngIf="graduatesForm.get('countryResidence')?.errors?.['required'] && graduatesForm.get('countryResidence')?.touched" class="alert alert-danger">
              * Campo requerido
            </div>
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="departamentResidence" aria-label="Default select example" (change)="loadCities($event)">
                      <option value="" selected hidden>Departamento de residencia</option>
                      <option *ngFor="let obj of arrayDepartament" [value]="obj.isoCode" selected>
                        {{ obj.name }}
                      </option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('departamentResidence')?.errors?.['required'] && graduatesForm.get('departamentResidence')?.touched" class="alert alert-danger">
                * Campo requerido
              </div>
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="cityResidence" aria-label="Default select example">
                    <option value="" selected hidden>Municipio de residencia</option>
                    <option *ngFor="let obj of arrayCities" [value]="obj" selected>
                        {{ obj }}
                      </option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('cityResidence')?.errors?.['required'] && graduatesForm.get('cityResidence')?.touched" class="alert alert-danger">
                * Campo requerido
              </div>
              <div class="mb-1 mb-3">
                  <div class="row">
                      <div class="col-6">
                          <input type="text col-6" class="form-control" placeholder="¿Tiene hijos?" disabled />
                      </div>
                      <div class="col-3 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="option" aria-label="radio" (click)="enableInput()" />
                              <label class="form-check-label" for="inlineRadio1">Si</label>
                          </div>
                      </div>
                      <div class="col-3 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="option" aria-label="radio" (click)="disableInput()" checked />
                              <label class="form-check-label" for="inlineRadio2NH">No</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mb-1" *ngIf="element == true">
                  <div class="input-group mb-3">
                      <input id="element" type="text" class="form-control" formControlName="numberChildren" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Número de hijos" value="0" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" max="15" required />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-person-fill-exclamation"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('numberChildren')?.errors?.['required'] && graduatesForm.get('numberChildren')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
      </div>
      <!--fin Información personal-->

      <!--Inicio Información del graduando-->
      <div class="row m-4 py-4 border">
          <p class="fs-5">Información del graduando</p>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="email" ng-model="email" class="form-control" formControlName="personalMail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Correo personal" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-envelope-fill"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('personalMail')?.errors?.['required'] && graduatesForm.get('personalMail')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('personalMail')?.errors?.['email'] && graduatesForm.get('personalMail')?.touched" class="alert alert-danger">
                      * No es un correo
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="unicaucaFaculty" aria-label="Default select example">
                      <option value="" selected hidden>Facultad</option>
                      <option value="1">FIET</option>
                      <option value="2">FACA</option>
                      <option value="3">SALUD</option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('unicaucaFaculty')?.errors?.['required'] && graduatesForm.get('unicaucaFaculty')?.touched" class="alert alert-danger">
                  * Campo requerido
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="unicaucaProgram" aria-label="Default select example">
                      <option value="" selected hidden>Programa</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('unicaucaProgram')?.errors?.['required'] && graduatesForm.get('unicaucaProgram')?.touched" class="alert alert-danger">
                  * Campo requerido
              </div>
          </div>
      </div>
      <!--fin Información del graduando-->

      <!--Inicio Información del referido-->
      <div class="row m-4 py-4 border">
          <p class="fs-5">Información del referido</p>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="refeName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Nombre referido" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-pencil-square"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('refeName')?.errors?.['required'] && graduatesForm.get('refeName')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="cellRefe" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Celular referido" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" max="10" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-phone"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('cellRefe')?.errors?.['required'] && graduatesForm.get('cellRefe')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('cellRefe')?.errors?.pattern" class="alert alert-danger">Solo debe ingresar valores númericos.</div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="emailRefe" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Correo referido" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-envelope-fill"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('emailRefe')?.errors?.['required'] && graduatesForm.get('emailRefe')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('emailRefe')?.errors?.['email'] && graduatesForm.get('emailRefe')?.touched" class="alert alert-danger">
                      * No es un correo
                  </div>
              </div>
          </div>
      </div>
      <!--fin Información del referido-->

      <!--Inicio Información laboral -->
      <div class="row m-4 py-4 border">
          <p class="fs-5">Información laboral</p>
          <div class="col-4">
              <div class="mb-1 mb-3">
                  <div class="row pe-4">
                      <div class="col-8">
                          <input type="text col-6" class="form-control" placeholder="¿Ha trabajado antes?" disabled />
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" formControlName="hasWork" type="radio" aria-label="radio" value="SI" (click)="enableInputTwo()" />
                              <label class="form-check-label" for="inlineRadio1">Si</label>
                          </div>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" formControlName="hasWork" type="radio"  id="inlineRadio2" aria-label="radio" value="NO" (click)="disableInputTwo()" checked />
                              <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mb-1">
                  <div class="input-group mb-3" *ngIf="element2 == true">
                      <input type="text" class="form-control" formControlName="companyWork" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Empresa" value=""/>
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-building-fill"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('companyWork')?.errors?.['required'] && graduatesForm.get('companyWork')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-3">
                  <div class="row pe-4">
                      <div class="col-8">
                          <div class="input-group">
                              <textarea style="resize: none" class="form-control" aria-label="With textarea" placeholder="¿Actualmente está trabajando?" disabled></textarea>
                          </div>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" formControlName="currentlyWorking" type="radio"  id="isWorkRadio1" value="SI" (click)="enableInputThree()" />
                              <label class="form-check-label" for="isWorkRadio1">Si</label>
                          </div>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" formControlName="currentlyWorking" type="radio" id="isWorkRadio2" value="NO" (click)="disableInputThree()" checked/>
                              <label class="form-check-label" for="isWorkRadio2">No</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mb-3" *ngIf="element3 == true">
                  <div class="input-group mb-3" >
                      <input type="text" class="form-control" formControlName="phoneWork" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Teléfono lugar de trabajo" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" max="10" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-person-workspace"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('phoneWork')?.errors?.['required'] && graduatesForm.get('phoneWork')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('phoneWork')?.errors?.pattern" class="alert alert-danger">Solo debe ingresar valores númericos.</div>
              </div>
              <div class="mb-3" *ngIf="element3 == true">
                  <select class="form-select mb-3" formControlName="typeContract" aria-label="Default select example">
                      <option value="" selected hidden>Tipo de contrato</option>
                      <option value="CONTRATO A TÉRMINO FIJO">
                          CONTRATO A TÉRMINO FIJO
                      </option>
                      <option value="CONTRATO A TÉRMINO INDEFINIDO">
                          CONTRATO A TÉRMINO INDEFINIDO
                      </option>
                      <option value="CONTRATO DE APRENDIZAJE">
                          CONTRATO DE APRENDIZAJE
                      </option>
                      <option value="CONTRATO TEMPORAL, OCASIONAL O ACCIDENTAL">
                          CONTRATO TEMPORAL, OCASIONAL O ACCIDENTAL
                      </option>
                      <option value="CONTRATO CIVIL POR PRESTACIÓN DE SERVICIOS">
                          CONTRATO CIVIL POR PRESTACIÓN DE SERVICIOS
                      </option>
                      <option value="CONTRATO DE OBRA O LABOR (POR HORAS)">
                          CONTRATO DE OBRA O LABOR (POR HORAS)
                      </option>
                  </select>
                  <div *ngIf="graduatesForm.get('typeContract')?.errors?.['required'] && graduatesForm.get('typeContract')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-3" *ngIf="element3 == true">
                  <div class="input-group">
                      <input type="text" class="form-control" formControlName="bossName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Nombre del jefe" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-pencil-square"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('bossName')?.errors?.['required'] && graduatesForm.get('bossName')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1 mb-3" *ngIf="element2 == true">
                  <div class="row pe-4">
                      <div class="col-8">
                          <textarea style="resize: none" class="form-control" aria-label="With textarea" row="6" placeholder="¿Se desempeñó en su área de formación?" disabled></textarea>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="optionArea" formControlName="optionArea" id="inlineRadio1" value="SI" />
                              <label class="form-check-label" for="inlineRadio1">Si</label>
                          </div>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="optionArea" formControlName="optionArea" id="inlineRadio2" value="NO" />
                              <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                      </div>
                      <div *ngIf="graduatesForm.get('optionArea')?.errors?.['required'] && graduatesForm.get('optionArea')?.touched" class="alert alert-danger">
                          * Campo requerido
                      </div>
                  </div>
              </div>
              <div class="mb-1" *ngIf="element3 == true">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="nameCompanyWork" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Empresa donde labora" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-building-fill"></i>
                     </span>
                  </div>
                  <div *ngIf="graduatesForm.get('nameCompanyWork')?.errors?.['required'] && graduatesForm.get('nameCompanyWork')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-1" *ngIf="element3 == true">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="positionCompany" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Cargo que desempeña" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-pencil-square"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('positionCompany')?.errors?.['required'] && graduatesForm.get('positionCompany')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-1 mb-3" *ngIf="element3 == true">
                  <select class="form-select" formControlName="workSector" aria-label="Default select example">
                      <option value="" selected hidden>Sector</option>
                      <option value="PUBLICO">Publico</option>
                      <option value="PRIVADO">Privado</option>
                      <option value="MIXTO">Mixto</option>
                  </select>
                  <div *ngIf="graduatesForm.get('workSector')?.errors?.['required'] && graduatesForm.get('workSector')?.touched" class="alert alert-danger">
                    * Campo requerido
                </div>
              </div>
              <div class="mb-1" *ngIf="element3 == true">
                  <div class="input-group mb-3">
                      <input type="email" class="form-control" formControlName="bossMail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Correo del jefe" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-envelope-fill"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('bossMail')?.errors?.['required'] && graduatesForm.get('bossMail')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
                  <div *ngIf="graduatesForm.get('bossMail')?.errors?.['email'] && graduatesForm.get('bossMail')?.touched" class="alert alert-danger">* No es un correo</div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1 mb-3" *ngIf="element2 == true">
                  <div class="input-group">
                      <input type="text" class="form-control" formControlName="bossPositionCompany" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Cargo" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-person-workspace"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('bossPositionCompany')?.errors?.['required'] && graduatesForm.get('bossPositionCompany')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
              <div class="mb-1 mb-3" *ngIf="element3 == true">
                  <select class="form-select" formControlName="workCity" aria-label="Default select example">
                      <option value="" selected hidden>Municipio de trabajo</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
                  <div *ngIf="graduatesForm.get('workCity')?.errors?.['required'] && graduatesForm.get('workCity')?.touched" class="alert alert-danger">
                    * Campo requerido
                </div>
              </div>
              
              <div class="mb-1 mb-3" *ngIf="element3 == true">
                  <select class="form-select" formControlName="salaryRange" aria-label="Default select example">
                      <option value="" selected hidden>Rango salarial</option>
                      <option value="$1.000.001 - $2000000">$1.000.001 - $2000000</option>
                      <option value="$2.000.001 - $3.000.000">
                          $2.000.001 - $3.000.000
                      </option>
                      <option value="$3.000.001 - $4.000.000">
                          $3.000.001 - $4.000.000
                      </option>
                      <option value="$4.000.001 - $6.000.000">
                          $4.000.001 - $6.000.000
                      </option>
                      <option value="$6.000.001 - $8.000.000">
                          $6.000.001 - $8.000.000
                      </option>
                      <option value="$8.000.001 - $10.000.000">
                          $8.000.001 - $10.000.000
                      </option>
                      <option value="$10.000.001 - $12.000.000">
                          $10.000.001 - $12.000.000
                      </option>
                      <option value=" $12.000.001 - $15.000.000">
                          $12.000.001 - $15.000.000
                      </option>
                      <option value="más de $15.000.001">más de $15.000.001</option>
                  </select>
                  <div *ngIf="graduatesForm.get('salaryRange')?.errors?.['required'] && graduatesForm.get('salaryRange')?.touched" class="alert alert-danger">
                    * Campo requerido
                </div>
              </div>
              
              <div class="mb-1" *ngIf="element3 == true">
                  <div class="row pe-4">
                      <div class="col-8">
                          <textarea style="resize: none; font-size: 12px" class="form-control" aria-label="With textarea" placeholder="¿Se encuentra trabajando en el área de formación?" disabled></textarea>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="isWork" formControlName="isWork" id="inlineRadio1" value="SI" />
                              <label class="form-check-label" for="inlineRadio1">Si</label>
                          </div>
                      </div>
                      <div class="col-2 d-flex align-items-center align-self-center">
                          <div class="form-check form-check-inline col-3">
                              <input class="form-check-input" type="radio" name="isWork" formControlName="isWork" id="inlineRadio2" value="NO" />
                              <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--fin Información laboral-->

      <!--Inicio Información del docente -->
      <div class="row m-4 py-4 border">
          <p class="fs-5">
              Información del docente de su programa que influyo positivamente en su formación como profesional
          </p>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="nameRefeDoc" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="Nombre docente" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-person-workspace"></i>
                      </span>
                  </div>
                  <div *ngIf="graduatesForm.get('nameRefeDoc')?.errors?.['required'] && graduatesForm.get('nameRefeDoc')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <select class="form-select mb-3" formControlName="reasonInfluence" aria-label="Default select example">
                      <option value="" selected hidden>Razón influencia</option>
                      <option value=" Por sus métodos de enseñanza"> Por sus métodos de enseñanza</option>
                      <option value="Porque me motivo a terminar mi carrera">Porque me motivó a terminar mi carrera</option>
                      <option value="Porque dirigió mi trabajo de grado/tesis/práctica/pasantía">Porque dirigió mi trabajo de grado/tesis/práctica/pasantía</option>
                      <option value="Por su componente humano">Por su componente humano</option>
                      <option value="Por su extenso conocimiento en la asignatura">Por su extenso conocimiento en la asignatura</option>
                      <option value="Otro?">Otro</option>
                  </select>
              </div>
              <div *ngIf="graduatesForm.get('reasonInfluence')?.errors?.['required'] && graduatesForm.get('reasonInfluence')?.touched" class="alert alert-danger">
                  * Campo requerido
              </div>
          </div>
          <div class="col-4">
              <div class="mb-1">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="whatReason" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required placeholder="¿Cual?" />
                      <span class="input-group-text" id="inputGroup-sizing-default">
                        <i class="bi bi-pencil-square"></i>
                      </span>
                  </div>
              </div>
          </div>
      </div>
      <!--fin Información del docente-->

      <!--Inicio Información adicional -->
      <div class="row m-4 py-4 border">
          <p class="fs-5">Información adicional</p>
          <div class="row mb-4">
              <h4 style="color: gray">Comentarios, sugerencias sobre el programa del cual egresa:</h4>
              <div class="form-floating">
                  <textarea class="form-control mb-3" formControlName="commentOne" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <div *ngIf="graduatesForm.get('commentOne')?.errors?.['required'] && graduatesForm.get('commentOne')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
          <div class="row">
              <h4 style="color: gray">Comentarios, sugerencias sobre el programa del cual egresa:</h4>
              <div class="form-floating">
                  <textarea class="form-control mb-3" formControlName="commentTwo" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <div *ngIf="graduatesForm.get('commentTwo')?.errors?.['required'] && graduatesForm.get('commentTwo')?.touched" class="alert alert-danger">
                      * Campo requerido
                  </div>
              </div>
          </div>
      </div>
      <!--fin Información adicional-->

      <div class="row m-4 p-4 border">
          <h3>Estimado Graduando</h3>
          <p class="fs-6">
            Recuerde que recibirá un correo por parte del Área de Egresados notificando la recepción de la encuesta a graduandos el cual corresponde al <strong>PAZ Y SALVO para grado.</strong>
            <br /><br />
            <strong>El correo de confirmación NO es automático</strong>, por lo cual recibirá el correo en las siguientes 24 horas posteriores de haber diligenciado el formulario.
            <br /><br /><strong>IMPORTANTE: Las encuestas que se envíen a partir de las 3:00 PM de
            los días viernes, serán verificadas a partir del día lunes en la
            mañana, si es festivo, a partir del día martes. <br /><br />
            Agradecemos su comprensión.</strong><br /><br />
            Cualquier inquietud puede contactarse con nosotros y con gusto lo
            atenderemos en horario de lunes a viernes de 8:00 am - 5:00 pm.<br /><br />
            Correo: <u style="color: blue">egresados@unicauca.edu.co</u><br /><br />
            ¡GRACIAS POR PARTICIPAR EN ESTE PROCESO, LOS EGRESADOS SON UN PILAR
            FUNDAMENTAL PARA LA EXCELENCIA INSTITUCIONAL!
         </p>
        </div>
  <div>
    <button type="submit" class="btn btn-primary btn-sm ms-4 mb-3" id="boton">
      <i class="bi bi-send-fill"></i> Enviar
    </button>
  </div>
</form>
</div>